<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Índice - Evaluación</title>
</head>
<body>
    <h1>Evaluación</h1>
    <h2>Menú de Navegación</h2>
    <ul>
        <li><a href="/app1/vista1/">Ir a la Aplicación 1 - Vista 1</a></li>
        <li><a href="/app1/vista2/">Ir a la Aplicación 1 - Vista 2</a></li>
        <li><a href="/app2/vista1/">Ir a la Aplicación 2 - Vista 1</a></li>
        <li><a href="/app2/vista2/">Ir a la Aplicación 2 - Vista 2</a></li>
    </ul>
</body>
</html>